<html>
    <head>
        <title>EASY METAR</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src ="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
        <script src="index.js"></script>
        <script src="qfe_qnh_map.js"></script>
        <link rel="stylesheet" href="index.css">
        <!-- <script 
                src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js" 
            integrity="sha256-vIL0pZJsOKSz76KKVCyLxzkOT00vXs+Qz4fYRVMoDhw="
            crossorigin="anonymous">
	    </script> -->
    </head>
    <body>
        <div ng-app="myApp" ng-controller="formCtrl" id="mainApp">
        <div class="container">
            <h2>Easy Metar</h2>
            <form id="myform">
                    <label class="radio-inline"><input type="radio" ng-model="initials" name="initials" value="AJ">Aashay</label>
                    <label class="radio-inline"><input type="radio" ng-model="initials" name="initials" value="PKG">Pradeep</label>
                    <label class="radio-inline"><input type="radio" ng-model="initials" name="initials" value="VC">Vivek</label>
                    <label class="radio-inline"><input type="radio" ng-model="initials" name="initials" value="AY">Amitesh</label>
                    <label class="radio-inline"><input type="radio" ng-model="initials" name="initials" value="BKC">BK Chindhalore</label>
                    <label class="radio-inline"><input type="radio" ng-model="initials" name="initials" value="SPG">S P Gupta</label>
                <div class="row">
                  <div class="form-group col-sm-6">
                      <label for="wd">WindDirection :</label>
                      <input type="text" class="form-control" ng-model="wd" name="wd" placeholder="Enter wind direction -- E.g 270">
                  </div>
                  <div class="form-group col-sm-6">
                          <label for="ws">WindSpeed :</label>
                          <input type="text" class="form-control" ng-model="ws" name="ws" placeholder="Enter wind speed in knots -- 10">
                  </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                    <label for="db">Dry Bulb :</label>
                    <input type="text" class="form-control" ng-model="db" name="db" placeholder="Enter dry Bulb Temperature -- E.g 20.6">
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="wb">Wet Bulb :</label>
                    <input type="text" class="form-control" ng-model="wb" name="wb" placeholder="Please enter Wet Bulb Temperature -- E.g 18.4">
                  </div>
            </div> 
              <div class="row">
                <div class="form-group col-sm-6">
                        <label for="vis">Visibility :</label>
                        <input type="text" class="form-control" ng-model="vis" name="vis" placeholder="Enter visibility -- E.g 5000">
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="pressure">Pressure :</label>
                    <input type="text" class="form-control" ng-model="pressure" name="pressure" placeholder="Please enter pressure -- E.g 951.4">
                  </div>
                </div> 
              </div>  
                <label class="radio-inline"><input type="radio" ng-model="wx" value="HZ" checked="">HAZE</label>
                <label class="radio-inline"><input type="radio" ng-model="wx" value="BR" checked="">MIST</label>
                <label class="radio-inline"><input type="radio" ng-model="wx" value="FG">FOG</label>
                <label class="radio-inline"><input type="radio" ng-model="wx" value="DZ">Drizzle</label>
                <label class="radio-inline"><input type="radio" ng-model="wx" value="RA">Rain</label>
                <label class="radio-inline"><input type="radio" ng-model="wx" value="TS">Thunderstorm</label>
                <label class="radio-inline"><input type="radio" ng-model="wx" value="TSRA">Thunderstorm & Rain</label>
                    <label class="radio-inline"><input type="radio" ng-model="wx" value="" checked="">Nothing / Clear Wx</label><BR>
                <br>
                <div class="form-group" style="display: inline;">
                        <label for="vis">Clouds 1:</label>
                        <select ng-model="cloud1" ng-options="x for x in clouds">
                        </select>&nbsp;&nbsp;&nbsp;
                        <label for="vis">Clouds 1 Height:</label>
                        <select ng-model="c1Height" ng-options="x for x in c1heights">
                        </select><br>
                        <label for="vis">Clouds 2:</label>
                        <select ng-model="cloud2" ng-options="x for x in clouds">
                        </select>&nbsp;&nbsp;&nbsp;
                        <label for="vis">Clouds 2 Height:</label>
                        <select ng-model="c2Height" ng-options="x for x in c2heights">
                        </select>
                </div>
                <br>
                <br>
                <div class="row"> 
                  <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary" id="metar" value="metar">Generate Metar</button>
                  </div>
                  <div class ="col-sm-2">
                    <button type="submit" class="btn btn-primary" id="metreport" value="metreport">Generate MET REPORT</button>
                  </div>
                </div>
              <!-- &nbsp;&nbsp;&nbsp; 
              <button type="submit" class="btn btn-default" ng-click="sendToOlbs()">Send Olbs</button> -->
            </form>
          </div>
          <div ng-show="showMetar">
              <!-- Need to write a answer here  -->
              <h3>{{stuff}}</h3>
              <hr>
              <h3>{{prefixMetar}}</h3>
              <h3>{{metar}}</h3>

          </div>
        </div> 
    </body>
</html>